SERVER_NAME=Windrose ARM64
SERVER_PASSWORD=
SERVER_INVITE_CODE=
MAX_PLAYERS=10
USER_SELECTED_REGION=EU
WORLD_PRESET_TYPE=Medium
COMBAT_DIFFICULTY=Normal
MOB_HEALTH_MULTIPLIER=1
MOB_DAMAGE_MULTIPLIER=1
SHIP_HEALTH_MULTIPLIER=1
SHIP_DAMAGE_MULTIPLIER=1
BOARDING_DIFFICULTY_MULTIPLIER=1
COOP_STATS_CORRECTION_MULTIPLIER=1
COOP_SHIP_STATS_CORRECTION_MULTIPLIER=0
COOP_SHARED_QUESTS=true
EASY_EXPLORE=false
UPDATE_ON_START=true
USE_DIRECT_CONNECTION=false
SERVER_PORT=7777
DIRECT_CONNECTION_PROXY_ADDRESS=0.0.0.0
P2P_PROXY_ADDRESS=127.0.0.1
ENABLE_WINDROSE_PLUS=false
WINDROSE_PLUS_VERSION=latest
WINDROSE_PLUS_RCON_PASSWORD=
WINDROSE_PLUS_HTTP_PORT=8780
WINDROSE_PLUS_BIND_IP=0.0.0.0
WINDROSE_PLUS_DASHBOARD=true
WINDROSE_PLUS_BUILD_PAK=false
ENABLE_PANEL=false
PANEL_HOST=0.0.0.0
PANEL_PORT=8790
PANEL_PASSWORD=
PANEL_SECRET=
WINDROSE_VERSION_DIR=/versions
SERVER_CRASH_RESTART_ATTEMPTS=3
SERVER_CRASH_RESTART_DELAY=45
SERVER_CRASH_RESTART_RESET_AFTER=600
TZ=UTC
PUID=1000
PGID=1000
