SERVER_NAME=Windrose ARM64
SERVER_PASSWORD=
SERVER_INVITE_CODE=
MAX_PLAYERS=10
USER_SELECTED_REGION=EU
UPDATE_ON_START=true
USE_DIRECT_CONNECTION=false
SERVER_PORT=7777
DIRECT_CONNECTION_PROXY_ADDRESS=0.0.0.0
P2P_PROXY_ADDRESS=127.0.0.1
TZ=UTC
PUID=1000
PGID=1000
